* {
	margin: 0;
	left: 0;
	box-sizing: border-box;
}

body {
	background: #ccc;
	font-family: 'Ibarra Real Nova', serif;
}

.anthem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	margin: 0 auto;
	width: 25%;
	align-items: center;
	background: #eee;
}

.anthem-title {
	margin-bottom: 30px;
	text-align: center;
	color: red;
}

.verse,
.chorus {
	padding: 15px;
	margin: 20px;
}

.chorus {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	font-weight: bold;
}
